<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AreaUtente page of the Share Vehicle sharing company">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700;900&display=swap" rel="stylesheet">

    <title>Area Utente</title>
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
</head>

<body>


    <header>
        <nav class="navbar navbar-expand-lg navbar-dark borderNav third-color fixed-top">
            <!-- inizio navbar -->

            <div class="container-lg">
                <!-- inizio container navbar -->

                <a class="navbar-brand" href="/"> <img src="/img/logoGiusto.svg" alt="logo" width="50" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Menu">
                    <span class="navbar-toggler-icon"> </span>
                </button>

                <div class="offcanvas offcanvas-end bg-dark text-bg-dark w-50" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <!-- inizio offcanvas -->

                    <div class="offcanvas-header">
                        <h3 class="offcanvas-title" id="offcanvasNavbarLabel"></h3>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">
                        <!-- inizio offcanvas-body -->

                        <ul class="navbar-nav justify-content-end align-items-lg-center flex-grow-1 pe-3" id="navbar">
                            <!-- inizio elementi navbar -->

                            <li class="nav-item ms-auto ms-lg-0"><a class="nav-link" href="/">Home</a> <!-- possiamo togliere mettendo il logo diretto alla home -->
                            </li>
                            <li class="nav-item ms-auto ms-lg-0"><a class="nav-link" href="/tariffe">Tariffe</a></li>
                            <li class="nav-item ms-auto ms-lg-0"><a class="nav-link" href="/faq">FAQ</a> <!-- tipi diversi di veicoli disp -->
                            </li>
                            <li class="nav-item ms-auto ms-lg-0"><a class="nav-link" href="/abbonamenti">Abbonamenti</a> <!-- libero profesionista, abbonamenti, parcheggi -->
                            </li>
                            <li class="nav-item ms-auto ms-lg-0"><a class="nav-link" href="/aboutUs">Chi siamo</a> <!-- mappa con veicoli disponibili, visibile a tutti -->
                            </li>
                            <li class="nav-item ms-auto ms-lg-0"><a class="nav-link" href="/listaVeicoli">Veicoli</a> <!-- mettere i loghi delle roba si soft skill -->
                            </li>

                        </ul>
                        <!-- fine elementi navbar -->
                    </div>

                </div>
                <!-- fine offcanvas-body -->
            </div>
            <!-- fine offcanvas -->

            <!-- fine container navbar -->
        </nav>
        <!-- fine navbar -->
    </header>



    <main class="position-relative"> 
        <!-- <div class="bannerAdmin d-flex flex-column justify-content-center align-items-center" style="height: 6rem; background: #00B7C2;">
            <h1 class="secondaryText mt-4 d-flex align-items-center" style="font-size: 30px;">Benvenuto nella tua area personale!</h1>
		</div> -->
        <div class="toast-container position-fixed p-3 start-50">
            <div class="toast text-white" data-bs-delay="1500">
                <div class="toast-body">
                    Prenotazione eliminata.
                </div>
            </div>
        </div>

        <div class="bg-light">
            <div class="container utentegen d-flex justify-content-center">
                <div class="row">
                    <div class="col-lg-4 col-12 d-flex justify-content-center pt-4 pb-4">
                        <div class="imgcontainer" style="width: 10rem; height: 10rem; border-radius: 50%; background: #00b8c249;">
                            <img src="/img/miloCaca.png" alt="utentebanner" style="width: 10rem; height: 10rem; border-radius: 50%;">
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 d-flex align-items-center justify-content-center">
                        <h1 class="primaryText fs-2-5 text-center">Benvenuto <span id="utente"></span></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-0 py-5 mb-1">
            <div class="row">
                <div class="col-lg-6 col-12 p-2 colBg">
                    <div>
                        <h2 class="secondaryText d-flex align-items-center fs-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                            </svg>Dati personali</h2>
                        <div class="d-flex ms-4">
                            <div class="zonaPersonale">
                                <div class="secondaryText">Nome: <span class="primaryText fs-5" id="nome"></span></div>
                                <div class="secondaryText">Cognome: <span class="primaryText fs-5" id="cognome"></span></div>
                                <div class="secondaryText">Data di Nascita: <span class="primaryText fs-5" id="nascita"></span></div>
                                <div class="secondaryText">Email: <span class="primaryText fs-5" id="email"></span></div>
                                <div class="secondaryText">Data iscrizione:<span class="primaryText fs-5" id="dataIscrizione"></span></div>
                                <div class="secondaryText">Privilegi: <span class="primaryText fs-5" id="tipo"></span></div>
                                <div class="secondaryText">Firma digitale: <span class="primaryText fs-5" id="firma"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 p-2 abbonamento h-100 lead descrizione">
                    <!-- style="height: 15rem; color: white;" -->

                    <!-- <h3 class="titoloAbbonamento pt-3">Abbonamento Giornaliero</h3>
                    <p>2 corse con qualsiasi mezzo di 30 minuti ciascuna</p>

                    <p class="lead text-center">A soli 5,90€</p>

                    <div class="button d-flex justify-content-center">
                        <a href="/pagamento?id=1" class="btn primaryBtn" type="button">Abbonati!</a>
                    </div> -->
                    <div class="swiper mySwiper d-block mt-4 mb-4">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="abbonamento col-11 h-15 text-white conColore">
                                    <div class="titoloAbbonamento pt-3">
                                        <h3>Abbonamento Giornaliero</h3>
                                    </div>
                                    <div class="descrizioneAbbonamento">
                                        <p>2 corse con qualsiasi mezzo di 30 minuti ciascuna</p>

                                        <h3 class="whiteText">A soli 5,90€</h3>

                                        <div class="button d-flex justify-content-center">
                                            <a href="/pagamento?id=1" class="btn primaryBtn" type="button">Abbonati!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="abbonamento col-11 h-15 text-white conColore">
                                    <div class="titoloAbbonamento pt-3">
                                        <h3>Abbonamento Settimanale</h3>
                                    </div>
                                    <div class="descrizioneAbbonamento">
                                        <p>14 corse con qualsiasi mezzo di 30 minuti ciascuna</p>

                                        <h3 class="whiteText">A soli 9,90€</h3>

                                        <div class="button d-flex justify-content-center">
                                            <a href="/pagamento?id=2" class="btn primaryBtn" type="button">Abbonati!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="abbonamento col-11 h-15 text-white conColore">
                                    <div class="titoloAbbonamento pt-3">
                                        <h3>Abbonamento Mensile</h3>
                                    </div>
                                    <div class="descrizioneAbbonamento">
                                        <p>60 corse con qualsiasi mezzo di 30 minuti ciascuna</p>

                                        <h3 class="whiteText">A soli 29,90€</h3>

                                        <div class="button d-flex justify-content-center">
                                            <a href="/pagamento?id=3" class="btn primaryBtn" type="button">Abbonati!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                </div>
            </div>
            <!-- <div class="col-lg-5 d-flex justify-content-center">
                    <img src="/img/imgVeicoli/toyotaHybrida.png" alt="utenteToyota" style="width: 100%;">
                </div> -->


        </div>

        <section id="prenotazionee" class="bg-light py-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- col-lg-6 -->
                        <div class="secondaryText d-flex align-items-center fs-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                            </svg>
                            <h3 class="fs-2">Le tue prenotazioni</h3>


                        </div>
                        <div id="prenotazione" class="row">

                        </div>
                    </div>
                </div>
            </div>
        </section>





    </main>

    <footer class="footerColor">
        <!-- da aggiungere altre voci -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-white">
                    <h3 class="mb-3">Scarica la nostra app</h3>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-6 "><img src="/img/Download_on_the_App_Store_Badge.svg" class="appleImg img-fluid w-75" alt="storeIphoneLogo"></div>
                        <div class="col-6"><img src="/img/Google_Play_Store_badge_EN.svg" class="googleImg img-fluid w-75" alt="storeAndroidLogo"></div>
                    </div>
                </div>
                <div class="col-lg-6 text-white">
                    <div class="row ">
                        <div class="col-6 ">
                            <h3 class="">Informazioni</h3>
                            <hr>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/aboutUs" class="aFake text-center">About Us</a>
                                </li>
                                <li>
                                    <a href="/tariffe" class="aFake text-center">Tariffe</a>
                                </li>
                                <li>
                                    <a href="/faq" class="aFake text-center">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="/abbonamenti" class="aFake text-center">Condizioni d'uso</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 ">
                            <h3 class="mb-3">Social</h3>
                            <hr>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="https://www.instagram.com" class="aFake">
                                        <i class="bi bi-instagram">Instagram</i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com" class="aFake">
                                        <i class="bi bi-twitter">Twitter</i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com" class="aFake">
                                        <i class="bi bi-meta">Meta</i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.telegram.com" class="aFake">
                                        <i class="bi bi-telegram">Telegram</i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <!-- da mettere tutto in div separati, elemento per elemento -->
                </div>
            </div>
            <div class="row text-white mt-4">
                <div class="col-lg-6">
                    <h3>Contattaci:</h3>
                    <hr>
                    <div class=" mb-4">
                        <p class="boldTitle">Numeri Utili</p>
                        <p>Numero sede italiana: <span class="aFake">0114562378</span>
                        </p>
                        <p>Numero verde: <span class="aFake"> 800 400 736</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3>Dove Trovarci</h3>
                    <hr>
                    <div>
                        <p class="boldTitle">Sedi e indirizzi</p>
                        <p>Sede Italiana: <span class="aFake">Corso Vittorio Emanuele II 157/d Torino (TO)</span>
                        </p>
                        <p>Sede Centrale: <span class="aFake">Thàmova 116 Karlin, Cechia</span>
                        </p>
                    </div>
                </div>
            </div>
    </footer>
    <div class="cookie d-flex justify-content-center fCol">
        <div class="text-white">
            <p><span class="aFake">Cookie</span> | <a href="/faq" class="aFake">Privacy Policy</a> | <a href="/abbonamenti" class="aFake">Condizioni d'uso</a></p>
        </div>

    </div>
    <div id="modLogout"></div>
    <!-- MODALE Elimina-->
    <div class="modal fade" id="eliminaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h2 class="h1 modal-title fs-5 text-white text-bg-danger" id="titoloModale">Elimina prenotazione</h2>
                    <button type="button" class="btn-close text-bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="contenutoModale">
                    <p class="lead">Sei sicuro di voler eliminare la tua prenotazione?</p>

                    <p id="error" class="lead text-danger"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annulla</button>
                    <input id="eliminaBottone" type="button" class="btn btn-danger" data-bs-dismiss="modal" value="Elimina">
                </div>
            </div>
        </div>
    </div>





    <script>
        if (localStorage.getItem("username") == null && sessionStorage.getItem('username') == null) {
            window.location.replace('/login');
        }
    </script>
    <script src="/js/session.js"></script>
    <script src="/js/scriptUtente.js"></script>
    <script src="/js/utenteView.js"></script>
    <script src="/js/prenotazione.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            loop: true,
            scrollbar: {
                el: ".swiper-scrollbar",
                hide: true,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">

    </script>

</body>

</html>