<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lista Veicoli page of the Share Vehicle sharing company">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <!-- ----------------------------------------------------------------------- -->
    <!--                                FOGLI CSS                                -->
    <!-- ----------------------------------------------------------------------- -->
    <link rel="stylesheet" href="css/swiperHero.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mediaQueryStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />

    <title>Veicoli</title>
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
</head>

<body>


    <header>
        <nav class="navbar navbar-nav-scroll navbar-expand-lg navbar-dark borderNav third-color fixed-top">
            <!-- inizio navbar -->

            <div class="container-lg">
                <!-- inizio container navbar -->

                <a class="navbar-brand" href="/">
                    <img src="/img/logoGiusto.svg" alt="logo" width="50" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Menu">
                    <span class="navbar-toggler-icon">

                    </span>
                </button>

                <div class="offcanvas offcanvas-end bg-dark text-bg-dark w-50" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <!-- inizio offcanvas -->

                    <div class="offcanvas-header">
                        <h3 class="offcanvas-title" id="offcanvasNavbarLabel"></h3>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">
                        <!-- inizio offcanvas-body -->

                        <ul class="navbar-nav justify-content-end align-items-lg-center flex-grow-1 pe-3" id="navbar">
                            <!-- inizio elementi navbar -->

                            <li class="nav-item ms-auto ms-lg-0">
                                <a class="nav-link" href="/">Home</a>
                                <!-- possiamo togliere mettendo il logo diretto alla home -->
                            </li>
                            <li class="nav-item ms-auto ms-lg-0">
                                <a class="nav-link" href="/tariffe">Tariffe</a>
                            </li>
                            <li class="nav-item ms-auto ms-lg-0">
                                <a class="nav-link" href="/faq">FAQ</a>
                                <!-- tipi diversi di veicoli disp -->
                            </li>
                            <li class="nav-item ms-auto ms-lg-0">
                                <a class="nav-link" href="/abbonamenti">Abbonamenti</a>
                                <!-- libero profesionista, abbonamenti, parcheggi -->
                            </li>
                            <li class="nav-item ms-auto ms-lg-0">
                                <a class="nav-link" href="/aboutUs">Chi siamo</a>
                                <!-- mappa con veicoli disponibili, visibile a tutti -->
                            </li>
                            <li class="nav-item ms-auto ms-lg-0">
                                <a class="nav-link active" aria-current="page" href="/listaVeicoli">Veicoli</a>
                                <!-- mettere i loghi delle roba si soft skill -->
                            </li>

                        </ul> <!-- fine elementi navbar -->
                    </div>

                </div> <!-- fine offcanvas-body -->
                <!-- fine offcanvas -->
            </div> <!-- fine container navbar -->
        </nav> <!-- fine navbar -->
    </header>

    <main class="position-relative"> 
        <!-- ----------------------------------------------------------------------- -->
        <!--                                  HERO                                   -->
        <!-- ----------------------------------------------------------------------- -->
        <div class="toast-container p-3 top-0 start-50">
            <div class="toast text-white" data-bs-delay="1500">
                <div class="toast-body">
                    Sei stato disconnesso.
                </div>
            </div>
        </div>
        <div>
            <div class="swiper heroSwipe">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image: url(/img/porscheElettrica.jpg); background-position: center center;">
                        <div class="overlay">
                            <div class="heroText">
                                <h3 class="d-flex justify-content-start"><span class="heroTitle">Veicoli</span></h3>
                                <h3 class="heroSubtitle">
                                    Guarda subito i <span class="primaryTextNS">veicoli disponibili</span> e scegli il tuo!
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="container">

            <div class="row d-flex justify-content-around align-items-center mt-4">
                <div class="titolo col-12 col-md-6 d-md-flex d-none">
                    <div class="secondaryText mt-5 mt-lg-5 mb-md-5 mb-5 fs-2-5">Ecco la nostra lista di veicoli</div>
                </div>
                <div class="titolo col-12 col-md-6 d-md-none d-flex">
                    <div class="secondaryText mt-5 mt-lg-5 mb-md-5 mb-5 fs-2-5 text-center">Ecco la nostra lista di
                        veicoli</div>
                </div>
                <div class="formSelect d-flex justify-content-center align-items-center col-12 col-md-6">
                    <div class="select">
                        <select name="tipologia" id="selectTipo" class="form-select">
                            <option value="TUTTO">Tutti i Veicoli</option>
                            <option value="AUTO">Tutte le Auto</option>
                            <option value="IBRIDE">Auto Ibride</option>
                            <option value="ELETTRICHE">Auto Elettriche</option>
                            <option value="MONOPATTINI">Monopattini</option>
                            <option value="BICICLETTE">Biciclette</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- ----------------------------------------------------------------------- -->
            <!--                           VEICOLI DISPONIBILI                           -->
            <!-- ----------------------------------------------------------------------- -->
            <div class="row mt-5 d-flex justify-content-around">
                <div class="col-12 titoloCard">
                    <div class="titoliDisponibili">
                        <h3 class="secondaryText p-2 mt-2 mb-5">Veicoli disponibili</h3>
                    </div>
                    <div id="contenitoreDisponibile" class="row"></div>
                </div>
            </div>
            <!-- ----------------------------------------------------------------------- -->
            <!--                         VEICOLI NON DISPONIBILI                         -->
            <!-- ----------------------------------------------------------------------- -->
        </div>
        <section id="spacer"></section>
        <div class="container">
            <div class="col-12 titoloCard">
                <div class="titoliDisponibili">
                    <h3 class="secondaryText p-2 mt-2 mb-5">Veicoli non disponibili</h3>
                </div>
                <div id="contenitoreNoDisponibili" class="row"></div>
            </div>

        </div>
        </div>
        <div id="demo"></div>


        <div class="container">
            <div class="secondaryText fs-2-5 text-center mt-5">Ecco le posizioni dei veicoli disponibili</div>
        </div>

        <div class="mappa mb-5" style="height: 100%;">

            <div id="map" style="height: 40rem;"></div>
        </div>




    </main>

    <!-- ----------------------------------------------------------------------- -->
    <!--                                 FOOTER                                  -->
    <!-- ----------------------------------------------------------------------- -->

    <footer class="footerColor">
        <!-- da aggiungere altre voci -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-white">
                    <h3 class="mb-3">Scarica la nostra app</h3>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-6 "><img src="/img/Download_on_the_App_Store_Badge.svg" class="appleImg img-fluid w-75" alt="storeIphoneLogo"></div>
                        <div class="col-6"><img src="/img/Google_Play_Store_badge_EN.svg" class="googleImg img-fluid w-75" alt="storeAndroidLogo"></div>
                    </div>
                </div>
                <div class="col-lg-6 text-white">
                    <div class="row ">
                        <div class="col-6 ">
                            <h3 class="">Informazioni</h3>
                            <hr>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/aboutUs" class="aFake text-center">About Us</a>
                                </li>
                                <li>
                                    <a href="/tariffe" class="aFake text-center">Tariffe</a>
                                </li>
                                <li>
                                    <a href="/faq" class="aFake text-center">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="/abbonamenti" class="aFake text-center">Condizioni d'uso</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 ">
                            <h3 class="mb-3">Social</h3>
                            <hr>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="https://www.instagram.com" class="aFake">
                                        <i class="bi bi-instagram">Instagram</i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com" class="aFake">
                                        <i class="bi bi-twitter">Twitter</i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com" class="aFake">
                                        <i class="bi bi-meta">Meta</i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.telegram.com" class="aFake">
                                        <i class="bi bi-telegram">Telegram</i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <!-- da mettere tutto in div separati, elemento per elemento -->
                </div>
            </div>
            <div class="row text-white mt-4">
                <div class="col-lg-6">
                    <h3>Contattaci:</h3>
                    <hr>
                    <div class=" mb-4">
                        <p class="boldTitle">Numeri Utili</p>
                        <p>Numero sede italiana: <span class="aFake">0114562378</span>
                        </p>
                        <p>Numero verde: <span class="aFake"> 800 400 736</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3>Dove Trovarci</h3>
                    <hr>
                    <div>
                        <p class="boldTitle">Sedi e indirizzi</p>
                        <p>Sede Italiana: <span class="aFake">Corso Vittorio Emanuele II 157/d Torino (TO)</span>
                        </p>
                        <p>Sede Centrale: <span class="aFake">Thàmova 116 Karlin, Cechia</span>
                        </p>
                    </div>
                </div>
            </div>
    </footer>
    <div class="cookie d-flex justify-content-center fCol">
        <div class="text-white">
            <p><span class="aFake">Cookie</span> | <a href="/faq" class="aFake">Privacy Policy</a> | <a href="/abbonamenti" class="aFake">Condizioni d'uso</a></p>
        </div>

    </div>
    <div id="modLogout"></div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="/js/scriptListaVeicoli.js"></script>
    <script src="/js/session.js"></script>
    <script src="/js/mappaListaVeicoli.js"></script>
    <script>
        var swiper = new Swiper(".heroSwipe", {
            spaceBetween: 0,
            centeredSlides: true
        });
    </script>
</body>

</html>